.note{
    padding: 25px;
    margin: 10px;
    height: 280px;
    width: 260px;
    background-color: turquoise;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.note_text{
    flex:1;
    resize: none;
    border: none;
    outline: none;
    font-size: 1rem;
    line-height: 1.875rem;
    background-color: transparent;
}