.note-container {
  height: 100%;
}

.note-container h2{
    margin-bottom: 20px;
    font-size: 3rem;
}

.note-container_notes {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* overflow-y: scroll; */
}

.no_notes{
  display: flex;
  align-items: center;
  margin-left: 450px;
  text-transform: capitalize;
  font-size: 24px;

}

@media only screen and (max-width: 390px) {
  .no_notes{
    margin: 0px;
  }
  
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

