.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
 
}

.sidebar_list_item {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    list-style: none; 

}

.plusicon {
  height: 60px;
  width: 60px;
  cursor: pointer;
}
