.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 0px; 
    transition: 500ms;
}

.sidebar_list_active{
    height: 300px;
}


.sidebar_list_item {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    list-style: none; 

}

.plusIcon {
  height: 60px;
  width: 60px;
  cursor: pointer;
}
